body, html {
  background: #f2f2f2;
}
.mimic-text-link {
  text-decoration: underline;
}

.menu-list li {
  margin: 10px;
}

.is-shady {
  .card-image {
    padding: 2rem;
  }
  &:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
  }
}
.image.is-880 {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

#navbarMenu {
  box-shadow: none;
  background: none;
  .navbar-item.is-active {
    font-weight: 600;
    background: none;
  }
}
