---
layout: default
---
{% include navbar.html type="landing" %}
<div class="box cta">
  <p class="has-text-centered">
    <span class="tag is-primary">New</span> Version <b>2.1.0</b> is released with <b>BREAKING CHANGES</b> in <b>mimic-thrift</b> package.
    Check <a href="https://github.com/creditkarma/Mimic/releases/tag/v2.1.0">RELEASE</a> for a list of changes.
  </p>
</div>
<section class="container content section">
  <div class="columns features is-multiline">
    {% for feature in page.feature_row %}
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image has-text-centered has-text-info">
            <i class="{{feature.image}}"></i>
          </div>
          <div class="card-content">
            <h4 class="has-text-centered">{{ feature.title }}</h4>
            <p>{{ feature.excerpt }}</p>
            <p><a href="{{ feature.url }}">Learn more</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
