.ant-layout {
  background-color: white;
}
.ant-layout-sider {
  background-color: white;
  overflow: hidden;
  position: fixed;
}

.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.includes-panel {
  top: -10px;
  left: -10px;
  position: relative;
}

.ant-dropdown-menu-submenu {
  z-index: 1050;
}
.jsoneditor-value {
  border: 0;
  margin-left: 7px;
}
.ant-tree.tree-view li .ant-tree-node-content-wrapper:hover {
  background-color: inherit;
}
.jsoneditor-value:focus {
  outline: 0;
}
.jsoneditor-string {
  color: green;
}
.jsoneditor-number {
  color: #ee422e;
}
.jsoneditor-number::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
.tree-select {
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
}

.menu-switch {
  width: 186px;
  text-decoration: none;
  display: inline-block;
  padding-left: 10px;
}

.json {
  max-height: 700px;
}

.ant-dropdown-menu-submenu-popup {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-height: 400px;
  overflow: scroll;  
}

.no-clients {
  text-align: center;
  line-height: 20;
}

.client-tabs {
  padding: 10px;
  height: 100vh;
}

.client-tabs .client-wrapper {
  display: flex;
}

.client-tabs .client {
  flex-grow: 1;
}

.client-tabs .url-input {
  display: flex;
  flex-grow: 1;
}

.client-tabs .url-input button {
  margin-left: 8px;
  top: -1px;
}

.client-tabs .scroll-container {
  width: 100%;
  display: flex;
  padding: 10px;
  position: absolute;
  top: 90px;
  bottom: 0;
  right: 0;
}

.client-tabs .history-list:focus {
  outline: none;
}

.client-tabs .history-item {
  padding: 6px;
  margin-left: 10px;
}
.client-tabs .history-item:hover {
  background: #e6f7ff;
  cursor: pointer;
}
.client-tabs .history-item span {
  padding: 2px;
}
.client-tabs .success {
  color: green;
}
.client-tabs .error {
  color: red;
}

.ant-modal-wrap {
  overflow: hidden;
}

.npm__react-simple-code-editor__textarea:focus,
.npm__react-simple-code-editor__textarea:active {
  outline: 0;
}

.code-editor-container {
  overflow: auto;
  padding-left: 2em;
  counter-reset: line;
  height: calc(100vh - 420px);
}

.code-editor-container pre,
.code-editor-container textarea {
  overflow: visible !important;
}

.code-editor-line-number:before {
  position: absolute;
  right: 100%;
  text-align: right;
  opacity: .3;
  color: #000;
  user-select: none;
  counter-increment: line;
  content: counter(line) " ";
}
